.page {
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 2rem;
}
.page h2{
    margin: 1rem;
    color: #edeaee;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    text-wrap: wrap;
}
.container{
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem
}