.page {
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.page h2{
    margin: 3rem;
    color: #edeaee;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    text-wrap: wrap;
}
.booksContainer{
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}