.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    cursor: pointer;
}

.line{
    background-color: #333232;
    width:4.5rem;
    height: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

}
.menuComponent{
    border: none;
    background-color: transparent;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.menuText{
    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Joti One", serif;
    text-shadow: 0.5px 0.5px 1px #040d17;
    color: #020220;
}

.menuComponent:hover .line {
    background-color: #825ad2;
    transform: scale(1.1);
}

.menuComponent:hover .menu-text {
    color: #5f4c86;
    transform: scale(1.1);

}

@media only screen and (max-width: 768px) {

    .line{
        width:4.2rem;
        height: 0.4rem;
    }
    .menuComponent{
        gap: 0.8rem;
    }

    .menuText{
        font-size: 1.6rem;
        font-weight: bold;
        font-family: "Joti One", serif;
        text-shadow: 0.5px 0.5px 1px #040d17;
        color: #020220;
    }

    .menuComponent:hover .line {
        background-color: #afa1bf;
        transform: scale(1.1);
    }

    .menuComponent:hover .menu-text {
        color: #b7a1d5;
        transform: scale(1.1);

    }

}