.search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 2rem;
    margin: 0 3rem;
    align-items: center;
    justify-content: center;
}
.filterContainer{
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    row-gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.filterComponent{
    background-color: #d1c0ee;
    border: 0.3rem solid #141417;
    width: 15rem;
    height: 2.2rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    font-family: "Indie Flower", cursive;
    font-size: 1.3rem;
    padding: 0;
}

.buttonWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.6rem;
    height: 2.2rem;
    background-color: #afa1bf;
    width: 100%;
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #afa1bf;
    border: 0.3rem solid #141417;
    padding: 1rem;
    width: 32rem;
    height: 2.9rem;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}

.small{
    width: 15rem;
    margin: 0;
}
.noMargin{
    margin: 0;
}
input{
    background-color: #afa1bf;
    border: none;
    outline: none;
    font-size: 1.3rem;
    width: 90%;
    height: 2rem;
    color: #020220;
    padding: 0 0.5rem;
    font-family: "Indie Flower", cursive;
    font-weight: bold;

}



input::placeholder{
    font-family: "Indie Flower", cursive;
    color: #464545;
    font-weight: bold;

}
.filterSelect {
    font-weight: bold;
    color: #020220;
    height: 2.6rem;
    background-color: #afa1bf;

}

.filterComponent option {
    color: #0a0a0a;
    font-family: "Indie Flower", cursive;
    font-size: 1.3rem;
    background-color: #afa1bf;
    font-weight: bold;


}
.year{
    background-color: #afa1bf;

    width: 6rem;
    padding: 0 0.5rem;
}

@media only screen and (max-width: 768px) {
    .search{
        gap: 1rem;
    }
    .filterContainer{
        gap: 1rem;
        width: 90%;
        margin: 0 auto;

    }
    .filterComponent{
        width:100%;
        font-size: 1.2rem;
    }

    .searchBar{
        width: 100%;
        margin: 0 auto;
    }

    input{
        font-size: 1.2rem;
    }

    .filterComponent option {
        font-size: 1.2rem;
    }
    .year{
        width: 6rem;
        padding: 0 0.5rem;
    }


}